
<div class="grid-stack-item" id="widget_{{ widget.id }}" data-gs-x="{{ widget.x }}" data-gs-y="{{ widget.y }}" data-gs-width="{{ widget.width }}" data-gs-height="{{ widget.height }}" data-widget-type="{{ widget.type }}" data-widget-id="{{ widget.id }}">
    <div class="panel panel-default grid-stack-item-content">

        <div class="panel-heading clearfix" style="position: sticky; top: 0; z-index: 1;">
            <div>
                <span class="pull-left" id="widget_title" data-widget-title-dblclick="true">
                    {% block widget_title %}
                        {{ widget.title|default(widget.name|trans) }}
                    {% endblock widget_title %}
                    &nbsp;
                </span>
                    <button type="button" class="close pull-left" aria-label="Edit" id="edit_{{ widget.id }}" title="{{ 'widget.editTitle'|trans(domain='TkuskaDashboardBundle') }}">
                        <span class="fa fa-pencil"></span>
                    </button>
            </div>


            {% block widget_buttons %}
                {% block widget_close_button %}
                    <button type="button" class="close pull-right" aria-label="Close" id="close_{{ widget.id }}" title="{{ 'widget.deleteWidget'|trans(domain='TkuskaDashboardBundle') }}"><span class="fa fa-close"></span></button>
                {% endblock %}
                <span class="pull-right">
                    &nbsp;
                    &nbsp;
                </span>
                {% block widget_config_button %}
                    <button type="button" class="close pull-right" aria-label="Configure" id="config_{{ widget.id }}" title="{{ 'widget.configWidget'|trans(domain='TkuskaDashboardBundle') ~ ' "' ~ widget.name|trans ~ '"' }}"><span class="fa fa-cog"></span></button>
                {% endblock %}
            {% endblock widget_buttons %}
        </div>

        {% block widget_body %}
            <div class="panel-body"></div>
        {% endblock widget_body %}

        {% block widget_config %}
            <div id="form_{{ widget.id }}" style="display: none;" class="panel-body">
                {# CONFIGURATION FORM #}
                {% if form is defined and form %}
                    {% set id = 'form_' ~ widget.id %}
                        {{ form_start(form, {'action': path('widget_save_config', parameters = {id: widget.id}), 'method': 'POST'}) }}
                        {{ form_widget(form.Configuration, { 'id': id }) }}
                        {{ form_rest(form) }}
                        {# SUBMIT BUTTON #}
                        <button id="submit_{{ widget.id }}" type="submit">{{ 'widget.saveConfig'|trans(domain='TkuskaDashboardBundle') }}</button>
                        {# RESET CONFIG BUTTON #}
                        <a href="{{ path('widget_reset_config', { id: widget.id }) }}" style="all: unset;"><button type="button">{{ 'widget.defaultConfig'|trans(domain='TkuskaDashboardBundle') }}</button></a>
                        {{ form_end(form) }}

                    <script>
                        {# Save config in a field with the correct data [ Symfony is screwing up some field values ] #}
                        window.editor{{ id }}.on("change",  function() {
                            $("#form_json_{{ id }}").val(JSON.stringify(window.editor{{ id }}.getValue()));
                        });
                    </script>
                {% else %}
                    {# RESET CONFIG BUTTON #}
                    <a href="{{ path('widget_reset_config', { id: widget.id }) }}" style="all: unset;"><button type="button">{{ 'widget.defaultConfig'|trans(domain='TkuskaDashboardBundle') }}</button></a>
                {% endif %}
            </div>
        {% endblock widget_config %}

        {% block widget_footer %}
            {# <div class="panel-footer"></div> #}
        {% endblock widget_footer %}

    </div>
</div>